### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.python-version

/apps/gitea/data/*
/apps/mariadb/data/*
/galaxy-openstack-deploy/*
/apps/gitea/data/*
/openstack-dev-docker/*
/galaxy-openstack-deploy/openstack_deps/keystone/.python-version
/apps/cicd/data/*